* {
    /* font-family: 'Chivo', sans-serif; */
    font-family: 'Cantata One', serif;
}

.jumbotron {
    background-color: url("");
    background-repeat: no-repeat;
    background-position: center;
}

/* footer */
.welcome-foot {
    margin-left: 10%;
    padding-left: 7%;
}

.welcome-foot a {
    padding-left: 8px;
    padding-right: 8px;

}
