.jumbotron {
    
}

/* footer */
.welcome-foot {
    margin-left: 10%;
    padding-left: 7%;
}

.welcome-foot a {
    padding-left: 8px;
    padding-right: 8px;
}

#nfl {
    width: 135px;
    height: auto;
}

#nfl {
    width: 35px;
    height: auto;
}
