<h1>Edit <%= @user.username %></h1>
<form action="/users/<%= "#{@user.id}" %>" method="post">
  <label for="username">Gamer Tag:</label><br>
  <input type="text" name="username" value="<%= @user.username %>" id="username">
  <br>
  <label for="email">Email</label><br>
  <input type="text" name="email" value="<%= @user.email %>" id="email">
  <br>
  <label for="password">Password</label><br>
  <input type="password" name="password" id="email">
  <h5>enter your password to verify changes</h5>
  <br>
  <input type='hidden' name='_method' value='patch'>
  <input type="submit" value="Update" class="btn btn-primary">
</form>

<img src="https://elitesportsny.com/wp-content/uploads/2018/07/saquon_barkley_madden.jpg" alt="" id="bg-vid">
