<div class="container">
  <header>
    <iframe class="img-responsive main-image" src="https://giphy.com/embed/h3Ske2grEQ6uA" width="800" height="500" frameBorder="0"></iframe>
  </header>

  <div class="col-md-8 col-md-offset-2">

  </div>
</div>
